.sidebar-chatList{
    width: 250px;
    height: 79.6vh;
    background-color: #dddddd87;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0; 
    box-shadow: 0 2px 2px 2px #dddddd87;
    display: none;
}

.sidebar-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   border-bottom: 1px solid #e3d5d5;
}

.sidebar-header .sidebar-heading{
    padding: 0;
}

.sidebar-header i{
    font-size: 22px;
    cursor: pointer;
}

 @media screen and (max-width:876px){
    .sidebar-chatList{
       display: block;
        
    }
 
 } 