.login-signup-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: auto;
}

.form-content{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(213, 154, 154, 0.674),0 4px 12px rgba(222, 161, 161, 0.893);
    padding: 40px 50px;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}

.form-content h2{
    color:#222;
}

.form-content p{
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.form-field{
    border: 2px solid rgb(221, 221, 221);
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 15px;
}

.form-field input{
    padding: 3px 10px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #222;
}

.form-field:focus-within{
    box-shadow: 0 0 6px #fe424d;
    border: none;
    background-color: transparent;
}
.form-field span i{
    font-size: 14px;
    color: #5c5b5b;
}

.form-content .login-signup-btn{
    width: 100%;
    padding: 8px 10px;
    border-radius: 25px;
    background-color: #fe424d;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.form-content .forget-password{
    color: #fe424d;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 13px;
    margin-top: 10px;
}

.login-signup-page .account-info{
    font-size: 12px;
    color: #5c5b5b;
}

.login-signup-page .account-info span{
    color: #fe424d;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width:476px){
    .form-content{
        padding: 30px 40px;
    }

    .form-field{
        padding: 3px 6px;
        display: flex;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:376px){
    .form-content{
        padding: 30px 28px;
    }

    .form-field{
        padding: 3px 6px;
        display: flex;
        flex-wrap: nowrap;
    }
}


