.host-listing{
    margin: 0 auto;
    width: 60%;
}

.host-listing-content h3{
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.input-field{
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-bottom: 20px;
}

.input-field input, textarea{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(221, 221, 221);
}

.input-field label{
    font-size: 18px;
}

.combined-fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.host-listing-form button{
    background-color: #fe424d;
    padding: 10px 20px;
    color: #fff;
    border: none;
    letter-spacing: 1.5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 1s;
}

.host-listing-form button:hover{
    transform: scale(1.08);
}

@media screen and (max-width:875px){
    .host-listing{
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width:620px){
    .host-listing{
        margin: 0 auto;
        width: 100%;
    }

    .host-listing-content h3{
        font-size: 2.2rem;
        letter-spacing:0;
    }
}

@media screen and (max-width:475px){
    .combined-fields{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .host-listing-content h3{
        font-size: 1.8rem;
    }
}

