.password-input-field-content{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(213, 154, 154, 0.674),0 4px 12px rgba(222, 161, 161, 0.893);
    padding: 40px 50px;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}

.password-input-field-content h2{
    color:#222;
}

.password-input-field-content p{
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.password-field{
    border: 2px solid rgb(221, 221, 221);
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
}

.password-field input{
    padding: 3px 10px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #222;
}

.password-field:focus-within{
    box-shadow: 0 0 6px #fe424d;
    border: none;
}

.password-field span i{
    font-size: 14px;
    color: #5c5b5b;
}

.password-input-field-content .password-submit-btn{
    width: 100%;
    padding: 8px 10px;
    border-radius: 25px;
    background-color: #fe424d;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (max-width:376px){
    .password-input-field-content{
        padding: 30px 32px;
    }

    .password-input-field-content .password-submit-btn{
        width: 60%;
    }
    
    .password-input-field-content form{
        text-align: center;
    }
}